.Results-Container{
    display: flex;
    height: 100vh;
    width: 100vw;
}

.Candidate-Container{
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.Contain{
    height : 60%;
    width : 80%;
}

.candidate{
    height : 20%;
    display: flex;
    text-align: center;
    margin : 1%;
    border : 1px solid black;
    border-radius: 10px;
}

.id{
    width : 10%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.name{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
}

.key{
    display: flex;
    justify-content: center;
    align-items: center;
    padding : 2px;
    width: max-content;
}

.votes{
    width : 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Candidate-Container > button{
    margin-top: 2%;
    border: 2px solid black;
    height : 5%;
    width : 15%;
    border-radius: 5px;
}