.Voter-list-tokenform {
  display: flex;
  border: 2px solid black;
  height: 80%;
  width: 80%;
  padding: 2%;
}

.transfer-form {
  font-size: larger;
  font-style: oblique;
  display: flex;
  flex-direction: column;
  width: 100%;
  & > input[type="text"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  & > button {
    width: 100%;
    background-color: #4caf50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
}
