.main-container{
    background-image: url("../../assets/login_background.jpg");
    background-size: cover;
    margin : 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .container{
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    height :90%;
    width : 35%;
  }
  .heading{
    width: 100%;
    height: 10%;
    text-align: center;
    /* border: 2px solid black; */
    font-size: 280%;
  }
  .selection-container{
    /* border: 2px solid black; */
    height : 25%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  .selection {
    /* border: 5px solid red; */
    margin: 10px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .selection-admin {
    height: 70%;
    width: 70%;
    border-radius: 50%;
    &:hover{
      border: 5px solid green;
    }
  }
  
  .selection-voter{
    height: 70%;
    width: 70%;
    border-radius: 50%;
    &:hover{
      border: 5px solid green;
    }
  }
  .container > h1{
    position: relative;
    left : 100px;
  }
  
  .register-form{
    height: 100%;
    /* border : 10px solid black; */
    padding : 5%;
  }
  .login-form{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  .login-button{
    display: inline-block;
    margin : 5%;
    height: 11%;
    background-color: #2C72E2;
    color: white;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .login-form > input{
    height: 11%;
    width : 78%;
    border-radius: 4px;
    background-color: #ffffff;
    margin-left: 5%;
  }
  
  input::placeholder {
      font-size: larger;
    }
  .login-form > label{
      font-size: 140%;
      order: 0;
    margin-left: 5%;

  }
  .no-acnt{
    margin-left : 5%;
    font-size: larger;
    font-style: italic;
  }
  .no-acnt > a{
    text-decoration: none;
    color: blue;
  }
  
  .no-acnt > a:hover{
    color : darkblue;
  }
  
  .no-acnt > a:active{
    color : red;
  }

  .neucron-button{
    height : 40px;
    width : 280px;
    color: blue;
    font-weight: bolder;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    font-size: larger;
    
  }

  .neucron{
    /* border: 1px solid red; */
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 15%;
    /* cursor: pointer; */
    align-items: center;
    
    & > img{
      height : 40px;
      width : 50px;
      position: relative;
      left : -15px;
      cursor: pointer;
    }
  }